<div [class]="{
    'form-number':true,
    'active':formStatus().first
}">1</div>
<div [class]="{
    'selector-container':true,
    'active-selector':formStatus().second
}">
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
</div>

<div [class]="{
    'form-number':true,
    'active':formStatus().second
}">2</div>

<!-- <div [class]="{
    'selector-container':true,
    'active-selector':formStatus().third
}">
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
    <span class="separator"></span>
</div>
<div [class]="{
    'form-number':true,
    'active':formStatus().third
}">3</div> -->