<div class="container">
<div class="Status">
    @if(activeFlag)
    {
        <div id="activeStatus"  [class]="{update:activeFlag}">
            <span style="align-self: center;"></span>
               <p>Active</p>
           </div>
    }
    @else {
        <div id="inactiveStatus"   [class]="{update:!activeFlag}" >
            <span style="align-self: center;"></span>
            <p>In Active</p>
        </div>
    }

    <svg  (click)='click()'  [class]="{update:!isClicked}"   width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.38887 7.75313L13.0459 2.09613L11.6319 0.682129L6.68187 5.63213L1.73187 0.682129L0.317871 2.09613L5.97487 7.75313C6.1624 7.9406 6.41671 8.04592 6.68187 8.04592C6.94703 8.04592 7.20134 7.9406 7.38887 7.75313Z" fill="black"/>
        </svg>
        <svg     (click)="downClick()" [class]="{update:isClicked}"   width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.9749 0.974899L0.317898 6.6319L1.7319 8.0459L6.6819 3.0959L11.6319 8.0459L13.0459 6.6319L7.3889 0.974899C7.20137 0.787428 6.94706 0.682112 6.6819 0.682112C6.41673 0.682112 6.16243 0.787428 5.9749 0.974899Z" fill="black"/>
            </svg>
            
  </div>
     <div [class]="{actiondiv:isClicked}"   >
        <div (click)="onActive()" class="active">
        <span></span>
        <p>Active</p>
    </div>
    <div class="inactive"  (click)="onInActive()" >
        <span></span>
        <p>In Active</p>
    </div>
</div>